alias apti='sudo apt install -y'
alias aptp='sudo apt purge -y'
alias sl='ls' # typos
alias ll='ls -alF'
alias la='ls -A'
alias cls='clear&&ls'
alias l='ls -CF'
alias start-ssh-agent='eval `ssh-agent` && ssh-add ~/.ssh/id_rsa'
alias ssh-add-id='ssh-add ~/.ssh/id_rsa'
alias alias-reload='source ~/.aliases'
alias toupper='tr a-z A-Z'
alias tolower='tr A-Z a-z'
alias flipcase='tr a-zA-Z A-Za-z'
alias cuuid='uuid | tr a-z- A-Z_'
alias trim='awk '\''{$1=$1};1'\'''
alias wl-startmon='sudo airmon-ng start wlp3s0'
alias wldevs='nmcli device status'
alias wllist='nmcli -f SSID,BSSID,DEVICE dev wifi'
alias wldump='sudo airodump-ng -c 9 -w cowpatty mon0 --bssid'
alias wlscan='nmap -sP'
alias cd..='cd ..'
alias cd.='cd ..'
alias cd-cur='cd ~/_current'
alias cd-explore='cd /mnt_d/Programming/5Explore'
alias cd-rtree='cd /mnt_d/Programming/5Explore/rtree'
alias cd-smplsynth='cd /mnt_d/Programming/5Explore/smplsynth'
alias cd-openark='cd /mnt_d/Programming/0VR/OpenARK'
alias cd-openark-dataset='cd /mnt_d/Programming/0VR/OpenARK/data/avatar-dataset/'
alias ssh-blpc0='ssh -Y -t digilab ssh -Y -t  ayu@blph0.ssl.berkeley.edu ssh -Y ayu@blpc0'
alias ssh-blpc1='ssh -Y -t digilab ssh -Y -t  ayu@blph0.ssl.berkeley.edu ssh -Y ayu@blpc1'
alias ssh-vive='ssh -Y vivelab1'
alias sshy='ssh -Y'
#alias python='python3'
alias tor='nohup ~/Downloads/tor-browser_en-US/Browser/start-tor-browser >/dev/null 2>&1 &'

# sudo breaking ccache
#alias sudo='chown sxyu:sxyu -R /home/sxyu/.ccache/* && sudo'

# pip not working
alias pip='python2 -m pip'
alias pip3='python3 -m pip'
alias mkbuild='mkdir build && cd build'
alias cmake-config='cmake .. -DCMAKE_BUILD_TYPE=Release'
alias cmake-build='cmake --build . --config Release -j4'
alias cmake-buildi='cmake --build . --config Release --target install -j4'
alias wget-fast='aria2c --file-allocation=none -c -x 10 -s 10 -d .'
alias c='clear'
alias r='reset'

alias fix-monitor='bash ~/.config/mons.sh'
